<div class="alarm-clock">
  <div class="date">
    <span class="month"></span>
    <span class="day"></span>,
    <span class="year"></span>
  </div>

  <div class="time">
    <span class="hours"></span>
    <span class="colon">:</span>
    <span class="minutes"></span>
    <span class="colon">:</span>
    <span class="seconds"></span>
  </div>
</div>
