<%# <h1>New Ticket</h1> %>

<%= form_with scope: :ticket, url: tickets_path, local: true do |f| %>
    <p>
    	<h2 class="mb-5">Create new order</h2>
    	<h4>Table of the order</h4>
    	<%= f.text_field :table, class: "form-control form-control-lg" %>
    </p>

		 <p>
      <%= f.submit "Create", class: 'btn btn-success my-3'%>
    </p>
<% end %>

<%= link_to 'Back', tickets_path, class: "btn btn-secondary" %>
