// Colors
$color-1: slategray;
$color-2: #3498db;
$color-3: #bfbfbf;
$color-4: #80b5ff;

// Background Colors
$bg-color-1: #d2d2d2;
$bg-color-2: #232323;
$bg-color-3: #262626;

// Border Colors
$border-color-1: #cdd4da;
