// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import './fonts.scss';

@import './mixins';
// --------------- Pages --------------
// ----- home -----
.home_main {
  flex-grow: 1;

  align-items: center;
  display: grid;
  justify-content: center;

  form {
    align-self: start;
    background-color: $bg-color-1;
    border-radius: 15px;
    border: 1px solid $border-color-1;
    padding: 30px 20px;

    .label {
      font-weight: bold;
    }

    .custom_check {
      font-weight: 200;
    }

    .buttons {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

// ----- Digital-clock -----

.alarm-clock {
  background-color: $bg-color-2;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  margin-bottom: 70px;

  .date {
    bottom: 15px;
    color: $color-4;
    font-size: 12px;
    font-weight: bold;
    left: 50%;
    position: absolute;
    text-transform: uppercase;
    transform: translateX(-50%);
    z-index: 9;

    .month {
      letter-spacing: 2px;
    }
  }

  .time {
    align-items: center;
    background-color: $bg-color-3;
    border-radius: 10px;
    display: flex;
    font-family: 'Orbitron', sans-serif;
    font-size: 52px;
    justify-content: center;
    padding: 0px 45px 15px 40px;
    position: relative;

    span {
      align-items: center;
      color: $color-3;
      display: flex;
      flex-direction: row;
      justify-content: center;
      line-height: 1.75;
      position: relative;
      text-shadow: 0 0 15px rgba($color-3, 0.4);

      &:nth-child(odd) {
        width: 80px;
      }

      &.colon {
        text-align: center;
        width: 12px;
      }
    }
  }
}
